/* Base Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #18335A0D;
  display: block !important;
  width: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.header {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.poll-margin1,
.poll-margin2,
.poll-margin3,
.poll-margin4 {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.3s ease;
}

.poll-margin1:hover {
  border: 2px solid #ff5152;

}

.poll-margin2:hover {
  border: 2px solid #4ada80;

}

.poll-margin3:hover {
  border: 2px solid #ff9f74;

}

.poll-margin4:hover {
  border: 2px solid #3f99ff;

}

.polling-head {
  text-align: left;
  font-size: 1.5em;
  padding: 10px;
}

.poll-container {
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  font-size: 16px;
  flex-direction: column;
  margin-top: 20px;
}

.poll-question {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 700;
}

.poll-options {
  margin-bottom: 20px;

}

.poll-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 700;
  justify-content: space-between;
}

.poll-label {
  margin-left: 10px;
}

.poll-count {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s ease, width 0.3s ease;
}

.poll-numbers {
  background-color: #007bff;
  color: #fff;
  display: flex;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
  transition: width 0.5s ease;

}

.poll-numbers.option1 {
  background-color: #ff5152;
}

.poll-numbers.option2 {
  background-color: #4ada80;
}

.poll-numbers.option3 {
  background-color: #ff9f74;
}

.poll-numbers.option4 {
  background-color: #3f99ff;
}

.poll-numbers span {
  margin-left: 10px;
}

.poll-button {
  padding: 10px 20px;
  border: 1px solid #007bff;
  color: currentColor;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.poll-button:hover {
  background-color: #007bff;
  color: #fff;
}

.poll-btn {
  padding: 10px 20px;
  border: 1px solid #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.poll-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.poll-navigation {
  padding: 20px 45px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  z-index: 1000;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.totalCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.vote-Count {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.vote {
  display: block;
  font-weight: 900;
  font-size: 2rem;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.vote-Count .vote {
  display: inline-block;
  animation: zoom-in-out 2s infinite;
}

/* Responsive Styles */
@media (min-width: 360px) {
  .App {
    flex-direction: row;
  }

}

@media (max-width: 480px) {
  .poll-container {
    padding: 15px;
    border-radius: 8px;
  }

  .poll-question {
    font-size: 1.1em;
    margin-bottom: 15px;
  }

  .poll-options {
    margin-bottom: 30px;
  }

  .poll-option {
    margin-bottom: 8px;
  }

  .poll-numbers {
    padding: 8px;
  }

  .poll-numbers span {
    margin-left: 8px;
  }

  .poll-button {
    padding: 8px 16px;
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }



  .poll-container {
    width: 100%;
    max-width: 500px;
  }


}

@media (min-width: 1024px) {

  .App {
    flex-direction: column;
  }

  .poll-container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 60px;
  }

  .left-side {
    width: 100%;
    max-width: 500px;
  }

  .right-side {
    width: 100%;
    max-width: 250px;
  }

  .totalCount {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .polling-head {
    text-align: left;
    font-size: 2.0em;
    padding: 10px 30px;
  }

  .vote-Count {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }

  .vote {
    display: block;
    font-weight: 900;
    font-size: 3rem;
  }
}